body{
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}
.top{
    height: 150px;
    width: 1400px;
}
li{
    list-style-type: none;
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: solid black;
    padding: 5px 20px;
}
.top-list{
    float: right;
}
h1{
    font-size: 50px;
    color: blue;
}
.name{
    color:tomato;
}
p{
    font-size: 18px;
}
}
section{
    height: 400px;
    padding-bottom: 150px;
}
.half{
    width: 35%;
    margin-left: 5%;
    padding-left: 2%;
    float: left;
}
.half img{
    width: 100%;
}
.hire-button{
    text-decoration: none;
    background-image: linear-gradient(45deg,lightsalmon,tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}
#text-top{
    text-align: justify;
    color:rgb(218, 18, 44);
    padding-bottom: 40px;
}